{% extends 'connect/base.html' %}


{% block section %}
    <style>
        div > img{
            display: block;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            object-fit: cover;
            margin: auto;
        }
    </style>

    <div>
        {% if request.user.profile.profile_img %}
            <img src='{{ request.user.profile.profile_img.url }}'>
        {% endif %}
        
        <div>
            <p>Status: {{ request.user.profile.status }}</p>
            <p>Skill : {{ request.user.profile.skill }}</p>
        </div>
    </div>
    <style>
        section{
            padding: 20px;
        }
    </style>
    <h2>Update Status</h2>
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form }}
        <br>
        <button>Update Status</button>
    </form>
{% endblock %}