{% extends 'base.html' %}

{% block title %} B'Nora Fashion {% endblock %}

{% block body %}
<style>
	.productHouse{
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		margin: 10px;
		padding-top: 20px;
		border: 1px solid #eeeeee;
		border-radius: 10px;
		margin-bottom: 30px;
		font-size: 30px;
	}
	.productHouse .imageHouse{
		width: 30%;
		
	}
	.imageHouse img{
		width: 250px;
	}
	
	.remove{
		padding-left: 20px;
		padding-right: 20px;
		border: 1px solid grey;
		border-radius: 5px;
	}
	#modifyQty{
		width: 100%;
		display: flex;
		justify-content: space-around;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		padding: 10px;
		background-color:  rgb(123,171,228);
		
	}
	body{
		background-color: #f0f8ff;
	}
	#modifyQty select, #modifyQty span{
		background-color: white;
		font-size: 30px;
		padding: 20px;
		
		
	}
	.subtotal{
		margin-top: 30px;
		background-color: navy;
		border: 1px solid navy;
		border-radius: 10px;
		color: white;
		padding: 20px;
		font-size: 35px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#subtot{
		background: white;
		color: black;
		border: 1px solid grey;
	}
	#subtotal{
		width: 50%;
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		//localStorage.setItem('bnoraUserCart', JSON.stringify([]))
		 if((JSON.parse(localStorage.getItem('bnoraUserCart'))).length == 0){
			h1 = document.createElement('h1')
			h1.innerHTML = `
				Nothing here yet <a href='{% url "index" %}'>Try our store</a>`;
				
			document.querySelector('body').appendChild(h1);
		}
	
		if(localStorage.getItem('bnoraUserCart')){
			cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'));
			
			var request = new XMLHttpRequest() ;
			request.open('POST', '{% url "cart" %}') ;
			
			var form = new FormData() ;
			form.append('csrfmiddlewaretoken', '{{ csrf_token }}')
			form.append('cartItems', JSON.stringify(cartItems))
			request.send(form)
			
			request.onload = () => {
				data = JSON.parse(request.responseText)
				cartItems = data.items
				var totalCost = 0;
				for(let i=0; i < cartItems.length; i++){
					
					
					item = cartItems[i]
					
					
					totalCost += (parseInt(item.price) * parseInt(item.orderQty))
					
					productHouse = document.createElement('div')
					productHouse.setAttribute('class', 'productHouse')
					
					img = document.createElement('img')
					img.src = item.image_url
					imageHouse = document.createElement('div')
					imageHouse.classList.add('imageHouse')
					imageHouse.append(img)
					
					productHouse.appendChild(imageHouse)
					color = ''
					size=''
					if(item.color != 'empty'){
						color = item.color;
					}
					if(item.size != 'empty'){
						size = item.size;
					}
					
					about = document.createElement('section')
					about.classList.add('about')
					aboutData = `
						<h3>${item.name} </h3>
						<h3>&#x20A6;${item.price} </h3>
						<h3>${size} </h3>
				   	 <h3>${color} </h3>
					`
					a = document.createElement('a')
					a.style.textDecoration = 'none'
					
					a.href = `/item/${item.id}`
					about.innerHTML = aboutData
					
					a.appendChild(about)
					productHouse.appendChild(a)
					a.style.color = 'black';
					
					modifyQty = document.createElement('section')
					modifyQty.setAttribute('id', 'modifyQty')
					
					//Make unavailable if unavailable

					

					if(item.available){
						//alert('available')
						/*
						totalCost -= (parseInt(item.price) * parseInt(item.orderQty))
						cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'))
						unavailableProductId = item.id
						for(var k=0; k < cartItems.length; k++){
							cartItem = cartItems[k]
							
							if(cartItem.productid == unavailableProductId){
								cartItem.is_available = 'false';
								localStorage.setItem('bnoraUserCart', JSON.stringify(cartItems))
								productHouse.style.opacity = '0.5';
								a.innerHTML += 'unavailable';
								
							}*/
						}
					
					// If by some means, it becomes re-available, show back in cart
					
					else{
						totalCost -= (parseInt(item.price) * parseInt(item.orderQty))
						productHouse.style.opacity = '0.6';
						a.innerHTML += 'quantity demanded unavailable';
						
					}

					//Change qty in cart
					cart_qty = document.createElement('select')
					cart_qty.setAttribute('data-id', item.id.toString())
					cart_qty.classList.add('qtyNeeded')
					qtyAvailable = JSON.parse(item.qty_available)
					orderQty = item.orderQty
					for(let i=1; i < qtyAvailable.length + 1; i++){
						var option = document.createElement('option')
						option.value = i;
						option.innerText = i;
						if(i == orderQty){
							option.selected = true;
						}
						cart_qty.appendChild(option)
					}
					
					cart_qty.onchange = function(){
						id = this.getAttribute('data-id')
						newQty = this.value
						cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'))
						
						for(var i=0; i < cartItems.length; i++){
							cartItem = cartItems[i]
							if(cartItem.productid == id){
								cartItem.qty = newQty
								localStorage.setItem('bnoraUserCart', JSON.stringify(cartItems))
								location.reload();
							}
						}
						
					}
					// end of change quantity in cart
					remove = document.createElement('span')
					remove.classList.add('remove')
					remove.setAttribute('data-id', item.id.toString())
					
					remove.onclick = function(){
						id = this.getAttribute('data-id')
						cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'))
						
						for(var i=0; i < cartItems.length; i++){
							cartItem = cartItems[i]
							if(cartItem.productid == id){
								cartItems.splice(i, 1)
								localStorage.setItem('bnoraUserCart', JSON.stringify(cartItems))
								location.reload();
							}
						}
					}
					remove.innerHTML = '&#128465; REMOVE'
					
					
					modifyQty.appendChild(remove)
					modifyQty.appendChild(cart_qty)
					
					productHouse.appendChild(modifyQty)
					document.querySelector('body').appendChild(productHouse)
					
				}
			subtotal = document.createElement('div')
			subtotal.classList.add('subtotal')
			subtotal.setAttribute('id', 'subtot')
			subtotal.innerHTML = `
				<div id='subtotal'>SUBTOTAL </div> 
				<span> &#x20A6;${totalCost} </span>`
			localStorage.setItem('totalCost', totalCost)
			//alert(localStorage.getItem('totalCost'))
			if(totalCost > 0){
			document.querySelector('body').appendChild(subtotal);
			
			checkout = document.createElement('div')
			checkout.classList.add('subtotal')
			checkout.innerHTML = 'CHECK OUT'
			var a = document.createElement('a')
			a.href= '{% url "address" %}'
			a.style.textDecoration = 'none'
			a.appendChild(checkout)
			checkout.onclick = () => {
				//alert('tata4')
			}
			document.querySelector('body').appendChild(a)
			}
		}
					
			
		}
		
		else{
			h1 = document.createElement('h1')
			h1.innerHTML = `
				Nothing here yet <a href='{% url "index" %}'>Try our store</a>`;
				
			document.querySelector('body').appendChild(h1);
		}
	})
</script>
{% endblock %}