{% extends 'base.html' %}

{% block title %} B'Nora Fashion {% endblock %}

{% block body %}
<style>
	.deliveryMethod{
		width: 97%;
		min-height: 100px;
		border: 1px solid #e6e5e5;
		margin-bottom: 10px;
		box-shadow: 4px 4px #f8f8f8;
		border-radius: 10px;
		padding: 12px;
	}
</style>
<h1 id='activeh1'>DELIVERY</h1>

<form method='post' action='{% url "payment" %}' id='deliveryForm'>
	<div id='showFirst'>
	{% csrf_token %}
	{{ userEdit.as_p }}
	{{ profileEdit.as_p }}
	<input name='deliveryDate' type='hidden' />
	<h1> DELIVERY METHOD</h1>
	<div class='deliveryMethod'>
		<input type='radio' id='doorDelivery' name='deliveryMethod' value='door delivery' checked>
		<label for='doorDelivery' id='deliveryDate1'>Door Delivery</label><br/>
	</div>
	
	
	<div class='deliveryMethod'>
		<input type='radio' name='deliveryMethod' value='Pick Up' id='pickUp'>
		<label for='pickUp' id='deliveryDate2'>Pick Up (Free)</label><br/><br/>
	</div>

	<input type='hidden' name='cartItemDetails' />
	</div>

	<div id='showNext'>
		<h1>PAYMENT</h1>
		<div class='deliveryMethod'>
			<input type='radio' id='paymentMethod' name='paymentMethod' value='Cash on Delivery' checked>
			<label for='paymentMethod'>Cash on Delivery</label><br/>
		</div>
		
		<div class='deliveryMethod'>
			<input type='radio' id='paymentMethod2' name='paymentMethod' value='Pay with Card' >
			<label for='paymentMethod2'>Pay with Card (Unavailable for now)</label><br/>
		</div>
	</div>

	<style>
		form{
			width: 100%;
		}
		label{
			font-size: 30px;
		}
		#activeh1{
			border-bottom: 4px solid grey;
		}
		input{
			font-size: 30px;
		}
		input, textarea{
			width: 97%;
			padding: 13px;
			border-radius: 3px;
			border: 1px solid grey;
		/*	font-size: 30px; */
			margin-bottom: 12px;
		}
		input:hover, textarea:hover{
			background-color: #f0f8ff;
		}
		input[type=radio]{
			width: 30px;
			color: navy;
			background-color: navy;
		}
		input[type=submit]{
			width: 150px;
			border-radius: 5px;
  	  	padding-left: 5px;
  		  border: 1px solid rgb(123,171,228);
  		  background-color: rgb(123,171,228);
			color: white;
			margin: auto;
			padding-left: 12px;
			padding-right: 12px;
		}
	</style>

	<script>
		if(localStorage.getItem('bnoraUserCart')){
			cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'));
			
			var request = new XMLHttpRequest() ;
			request.open('POST', '{% url "cart" %}') ;
			
			var form = new FormData() ;
			form.append('csrfmiddlewaretoken', '{{ csrf_token }}')
			form.append('cartItems', JSON.stringify(cartItems))
			request.send(form)
			
			request.onload = () => {
				data = JSON.parse(request.responseText)
				cartItems = data.items
				var totalCost = 0;
				for(let i=0; i < cartItems.length; i++){
					
					
					item = cartItems[i]
					
					
					totalCost += (parseInt(item.price) * parseInt(item.orderQty))
					
					productHouse = document.createElement('div')
					productHouse.setAttribute('class', 'productHouse')
					
					color = ''
					size=''
					if(item.color != 'empty'){
						color = item.color;
					}
					if(item.size != 'empty'){
						size = item.size;
					}
					
					about = document.createElement('section')
					about.classList.add('about')
					aboutData = `
						<h3>${item.name} </h3>
						<h3>&#x20A6;${item.price} </h3>
						<h3>${size} </h3>
				   	 <h3>${color} </h3>
					`
					a = document.createElement('a')
					a.style.textDecoration = 'none'
					
					a.href = `/item/${item.id}`
					about.innerHTML = aboutData
					
					a.appendChild(about)
					productHouse.appendChild(a)
					a.style.color = 'black';
					
					modifyQty = document.createElement('section')
					modifyQty.setAttribute('id', 'modifyQty')
					
					//Make unavailable if unavailable
					if(item.available){
						//alert('available')
						
						}
				// Completely remove unavailable items from list
					else{
						totalCost -= (parseInt(item.price) * parseInt(item.orderQty))
						productHouse.style.opacity = '0.6';
						a.innerHTML += 'quantity demanded unavailable';


						id = item.id
						cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'))
						
						for(var index=0; i < cartItems.length; index++){
							cartItem = cartItems[index]
							if(cartItem.productid == id){
								cartItems.splice(index, 1)
								localStorage.setItem('bnoraUserCart', JSON.stringify(cartItems))
								location.reload();
							}
						}	
					}

					//Change qty in cart
					cart_qty = document.createElement('select')
					cart_qty.setAttribute('data-id', item.id.toString())
					cart_qty.classList.add('qtyNeeded')
					qtyAvailable = JSON.parse(item.qty_available)
					orderQty = item.orderQty
					for(let i=1; i < qtyAvailable.length + 1; i++){
						var option = document.createElement('option')
						option.value = i;
						option.innerText = i;
						if(i == orderQty){
							option.selected = true;
						}
						cart_qty.appendChild(option)
					}
					
					cart_qty.onchange = function(){
						id = this.getAttribute('data-id')
						newQty = this.value
						cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'))
						
						for(var i=0; i < cartItems.length; i++){
							cartItem = cartItems[i]
							if(cartItem.productid == id){
								cartItem.qty = newQty
								localStorage.setItem('bnoraUserCart', JSON.stringify(cartItems))
								location.reload();
							}
						}
						
					}
					// end of change quantity in cart
					remove = document.createElement('span')
					remove.classList.add('remove')
					remove.setAttribute('data-id', item.id.toString())
					
					remove.onclick = function(){
						id = this.getAttribute('data-id')
						cartItems = JSON.parse(localStorage.getItem('bnoraUserCart'))
						
						for(var i=0; i < cartItems.length; i++){
							cartItem = cartItems[i]
							if(cartItem.productid == id){
								cartItems.splice(i, 1)
								localStorage.setItem('bnoraUserCart', JSON.stringify(cartItems))
								location.reload();
							}
						}
					}
					remove.innerHTML = '&#128465; REMOVE'
					
					
					modifyQty.appendChild(remove)
					modifyQty.appendChild(cart_qty)
					
					productHouse.appendChild(modifyQty)
					document.querySelector('form').appendChild(productHouse)
					
				}
			subtotal = document.createElement('div')
			subtotal.classList.add('subtotal')
			subtotal.setAttribute('id', 'subtot')
			subtotal.innerHTML = `
				<div id='subtotal'>TOTAL </div> 
				<span> &#x20A6;${totalCost} </span>`
			localStorage.setItem('totalCost', totalCost)
			if(totalCost > 0){
			document.querySelector('form').appendChild(subtotal);
			
			checkout = document.createElement('div')
			checkout.classList.add('subtotal')
			checkout.innerHTML = 'PROCEED TO NEXT STEP'
			var a = document.createElement('a')
			a.href= '{% url "address" %}'
			a.style.textDecoration = 'none'
			//a.appendChild(checkout)
			checkout.onclick = () => {
				//alert('tata4')
			}
			// Add expected time of delivery
			deliveryDate1 = document.querySelector('#deliveryDate1')
			date = new Date()
			date.setDate(date.getDate() + 2)
			deliveryDate1.innerHTML +=`<br/> Delivered on or before ${date}`
			document.getElementsByName('deliveryDate')[0].value = `${date}`
			deliveryDate2 = document.querySelector('#deliveryDate2')
			date2 = new Date()
			
			date2.setDate(date.getDate() + 1)
			deliveryDate2.innerHTML +=`<br/> Delivered on or before ${date}`



			document.querySelector('form').appendChild(a)
			button = document.createElement('button')
			button.classList.add('subtotal')
			button.style.width = '99%'
			button.innerHTML = 'PROCEED TO NEXT'
			document.querySelector('form').append(button)
			
			

			deliveryForm = document.querySelector('#deliveryForm')
			deliveryForm.onsubmit = () => {
				
				cartItemDetails = document.getElementsByName('cartItemDetails')[0]
				cartItemDetails.value = localStorage.getItem('bnoraUserCart')
				localStorage.setItem('bnoraUserCart', '[]')
					
			}
			}
		}
					

			
		}

	</script>
	<style>

.productHouse{
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		margin: 10px;
		padding-top: 20px;
		border: 1px solid #eeeeee;
		border-radius: 10px;
		margin-bottom: 30px;
		font-size: 30px;
	}
	.productHouse .imageHouse{
		width: 30%;
		
	}
	.imageHouse img{
		width: 250px;
	}
	
	.remove{
		padding-left: 20px;
		padding-right: 20px;
		border: 1px solid grey;
		border-radius: 5px;
	}
	#modifyQty{
		width: 100%;
		display: flex;
		justify-content: space-around;
		border-top: 1px solid grey;
		border-bottom: 1px solid grey;
		padding: 10px;
		background-color:  rgb(123,171,228);
		
	}
	body{
		background-color: #f0f8ff;
	}
	#modifyQty select, #modifyQty span{
		background-color: white;
		font-size: 30px;
		padding: 20px;
	}
	.subtotal{
		margin-top: 30px;
		background-color: rgb(109, 109, 236);
		border: 1px solid rgb(109, 109, 236);
		border-radius: 10px;
		color: white;
		padding: 20px;
		font-size: 35px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	#subtot{
		background: white;
		color: black;
		border: 1px solid grey;
	}
	#subtotal{
		width: 50%;
	}
	</style>


</form>
{% endblock %}